body {
    background-image: url("public/assets/images/image1.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #eab539;
    background-attachment: fixed;
    background-position: center top -145px;
}


